<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-danger" id="exampleModalLabel">Delete</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        O'zgartiriladi
         <h4>Rostdan ham "{{ book.title }}"ni o'chirishni istaysizmi</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Yo'q</button>
        O'zgartiriladi
         <a href="{% url 'delete' book.id %}" type="button" class="btn btn-danger">Ha</a>
      </div>
    </div>
  </div>
</div>